.info-title {
    margin-top: 20px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
}

.info {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}

#forgot-password-form {
    max-width: 400px;
}

.success-msg {
    margin-top: 20px;
    text-align: center;
    padding: 7px 0px;
    margin-bottom: 4px;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
}
