* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

input {
    padding: 10px 0;
    padding-left: 10px;
    margin: 5px 0px 3px 0px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid gray;
}

input:focus {
    outline: none;
}

.input-valid {
    outline: 1px solid rgb(37, 179, 37);
}

.input-invalid {
    outline: red;
}

.input-form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    color: black;
    margin-top: 8px;
    padding: 0px;
}

.hide {
    color: white;
    height: 0;
    font-size: 0.8rem;
}

.error-msg {
    color: red;
    font-size: 0.8rem;
}