@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
    --navbar-color: white;
    --navbar-text: rgb(37, 179, 37);
    --button: rgb(37, 179, 37);
    --lighter-green: rgb(68, 186, 68);
    --faded-button: rgb(101, 185, 101);
    --button-disabled: rgb(149, 149, 149);
    --error-block: rgba(239, 20, 20, 0.702);
    --success-block: rgb(37, 179, 37, 0.702);
    --blue-button: rgb(57, 123, 189);
    --fadded-blue: rgb(79, 150, 221);
}
