.note-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.24);
}

.note-container:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.note-title {
    text-justify: left;
    align-self: flex-start;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    width: 100%;
}

.note-text {
    text-align: left;
    text-justify: auto;
}

.note-image {
    width: 100px;
    height: 100px;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
    width: auto;
    height: auto;
    overflow-wrap: break-word;
}

@media screen and (max-width: 1100px) {
    .note-image {
        display: none;
    }
}
