.note-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 20%;
    max-height: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 12px;
    border-radius: 5px;
}

.note-container:hover {
    background-color: rgb(102, 102, 102);
    transition: background-color 0.5s ease;
    color: white;
    cursor: pointer;
}

.note-title {
    text-justify: left;
    align-self: flex-start;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 5px;
}

.note-text {
    text-align: left;
}

.note-image {
    max-width: 100px;
    max-height: 100px;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
}

@media screen and (max-width: 1200px) {
    .note-container {
        max-width: 25%;
    }
}

@media screen and (max-width: 500px) {
    .note-container {
        max-width: 33%;
    }
}

@media screen and (max-width: 900px) {
    .note-image {
        display: none;
    }
}